{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "padded-blocks": "off",
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore",
    }],
    "brace-style": ["error", "stroustrup"],
    "max-len": "off",
    "arrow-parens": "off",
    "consistent-return": "off",
    "no-shadow": "off",
    "no-trailing-spaces": "off",
    "no-unreachable": "warn",
    "no-confusing-arrow": "off",
    "global-require": "off",
    "import/no-dynamic-require": "off",
    "import/first": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
  },
}
