html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 2em;
  line-height: 2em;
}


/* Variables */
/*
  margin: 20
*/

/* Grid */

.rcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rlc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rlt {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.rsbc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rxrc {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}

.clt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.cct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.crc {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.clc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* Utils */

.has-full-width {
  width: 100%;
}

.has-text-centered {
  text-align: center;
}

.has-white-color {
  color: white;
}

.has-black-color {
  color: #333;
}

.has-relative-position {
  position: relative;
}

.has-no-margin {
  margin: 0;
}
